* {
	margin: 0;
	padding: 0;
}

#container {
	padding: 10px;
	overflow: hidden;
	/* 浮动 */
}

ul {
	display: block;
	margin: 0 20px;
	float: left;
}

li {
	display: block;
	padding: 10px 5px;
	list-style-type: none;
}

#sort-btn {
	border: 1px solid #cccccc;
	border-radius: 4px;
	margin: 5px 35px;
	padding: 6px 16px;
	font-size: 16px;
	font-family: 'Microsoft Yahei', Times, sans-serif;
	background: #FFF;
	color: #333;
	cursor: pointer;
}

#sort-btn:hover {
	border-color: #cccccc;
	background-color: #f5f5dc;
	color: #333;
}
